.has-error .control-label,
.has-error .help-block,
.has-error .form-control-feedback {
    color: #fe4918;
}

.forgot-password-link {
    text-decoration: underline;
    color: #fe4918;
}

.username {
    color: #fe4918 !important;
    font-size: 13px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 14px;
    letter-spacing: 0.3em;
}

.usermenu {
    font-size: 13px;
    margin: 8px;
    text-align: center;
    display: block;
    padding: 30px 0 16px;
}

.social-buttons{
    margin: 15px;
}

.social-buttons a{
    margin: 5px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #fe4918;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 99;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: #fe4918;
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}